<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>participanteServlet</servlet-name>
        <servlet-class>com.hack.hack.controller.ParticipanteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>participanteServlet</servlet-name>
        <url-pattern>/participante</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>supervisorServlet</servlet-name>
        <servlet-class>com.hack.hack.controller.SupervisorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>supervisorServlet</servlet-name>
        <url-pattern>/supervisor</url-pattern>
    </servlet-mapping>
</web-app>
